h1 {
    text-align: center;
}

div {
    border: 0.1px solid black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    max-width: 384px;
    display: flex;
    flex-wrap: wrap;

}

.tile {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    
}